.about h3{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    color: purple;
}
.about p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: justify;

}
/* card */
.card-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
    text-align: justify;
}
.card{
    margin-top: 2%;
}
.row h3{
    text-align: center;
    text-transform: uppercase;
    color: dodgerblue;
}